<p>produto-detalhe works!</p>

 <!-- NULL SAFETY ? -->>
 <!--<div class="card" style="width: 18rem;" *ngIf="produtoSelecionadoFilho"> -->

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Descrição do Produto</h5>
  
  <!-- NULL SAFETY ? -->>
      <p class="card-text" > Id:   {{ produtoSelecionadoFilho?.id }} </p>
      <p class="card-text"> Nome:   {{ produtoSelecionadoFilho?.nome }} </p>
      <p class="card-text"> Preço:   {{ produtoSelecionadoFilho?.preco }} </p>
  
      <p> UPPER CASE: {{ upperCaseNome() }} </p>

    </div>
  </div>

  